import(methods,ellipse,mvtnorm)
importFrom("grDevices", "gray")
importFrom("graphics", "axis", "box", "lines", "par", "plot", "points",
             "polygon", "text")
importFrom("stats", "pnorm", "rnorm", "runif")
useDynLib(HMMextra0s,.registration = TRUE)
export(hmm0norm)
export(sim.hmm0norm)
export(cumdist.hmm0norm)
export(Viterbi.hmm0norm)
export(hmm0norm2d)
export(sim.hmm0norm2d)
export(Viterbi.hmm0norm2d)
export(plotVitloc2d)
export(plotVitpath2d)
